<!doctype html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gestion De Matériel{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
  </head>
  <body class="container-fluid">

  <div class="row">
    <div class="col-md-8 offset-md-2 text-center"><h1>Application à la Gestion de Matériel</h1></div>
  </div>

   <div class="row">
    <a href="" class="col-md-2 offset-md-2">
      
      Je consulte
   
    </a>
    <a href="" class="col-md-2 offset-md-1">
      Je gére
   
    </a>
    <a href="" class="col-md-2 offset-md-1">
      Je crée
   
    </a>
  </div>


   <!-- JQuery -->
   <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script> 
   <script src="{{ asset('js/bootstrap.min.js') }}"></script> 
  </body>
</html>
