
@font-face {
    font-family: "PoliceGenerale"; 	
    src: url('font/AArmy_Wide.ttf');
}

@font-face {
    font-family: "PoliceTitre"; 	
    src: url('font/Kingthings_Foundation.ttf'); 
}



html, body {
	background-color: rgba(116, 130, 210, 1);
	font-family:PoliceGenerale;
	font-size: 1.0em;
	letter-spacing:0.1em;
}